<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>

  <div class="container">
      <form action="/calculator" method="POST">

          <div class="card-header" align="center">
            <h2>Calculadora de pobre</h2>
          </div>

          <div class="card-body">
              <input class="form-control" type="number" step="0.01" name="firstValue" id="firstValue"/>

              <div class="row">
                  <div class="col-3 col-sm-3 mt-4">
                    <label for="operator"><strong>Selecione o operador</strong></label>
                  </div>
                  <div class="col-9 col-sm-9 mt-3 mb-3" >
                      <select class="custom-select" name="operator" id="operator" required>
                          <option selected disabled value="">Selecione</option>
                          <option>+</option>
                          <option>-</option>
                          <option>*</option>
                          <option>/</option>
                      </select>
                  </div>
              </div>

              <input class="form-control" type="number" step="0.01" name="secondValue" id="secondValue"/>
              <br>

              <div class="row">
                  <div class="col-3 col-sm-3">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">=</button>
                  </div>
                  <div class="col-9 col-sm-9 mt-3" >
                     <label th:text="${result}"></label>
                  </div>
              </div>

          </div>

      </form>
  </div>

</body>
</html>